<robot name="pi_robot">

	<!-- * * * Link Definitions * * * -->

 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.61 0.43 0.01"/>
			</geometry>
			<material name="Black1">
	       		<color rgba="0 0 0 1.0"/>
	     </material>
		</visual>
	</link>
  <link name="camera_link">
    <visual>
        <origin xyz="-0.23 0 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.43 0.24"/>
      </geometry>
      <material name="Black1">
            <color rgba="0 0 0 1.0"/>
        </material>
    </visual>
  </link>



  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>


	<link name="laser_link">
    <visual>
        <origin xyz="-0.23 0 0.3" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.43 0.24"/>
      </geometry>
      <material name="Black1">
            <color rgba="0 0 0 1.0"/>
        </material>
    </visual>
  </link>



  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_link"/>
  </joint>
</robot>
