<launch>

  <arg name="model" default="/home/bblaze//Desktop/workspace/ROS_Rover_addons/rover_model.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="/home/bblaze/Desktop/workspace/ROS_Rover_addons/rover.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py /home/bblaze/Desktop/workspace/ROS_Rover_addons/rover_model.urdf" />
  <param name="use_gui" value="$(arg gui)"/>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 /map /base_link 100" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
